{% extends "base.html" %} 
{% load static %} 
{% block title %}{{object.name}}Recipe {% endblock %} 

{% block content %}
<div class="template-image">
  <!-- navigation bar -->
  <ul>
    <li class="app-title">Recipe App</li>
    <li>
      <a
        class="logout-link"
        href="{%url 'logout' %}"
        >Logout</a
      >
    </li>
    <li>
      <a
        class="active"
        href="{%url 'recipes:list' %}"
        >Recipes</a
      >
    </li>
  </ul>
  <br />
  <br />
  <div class="detail-box">
    <h1 class="recipe-name">{{object.name}}</h1>

    <img
      src="{{object.pic.url}}"
      class="recipe-image-detail"
    /><br />
    <b>Details: </b> {{object.description}} <br />
    <br />

    <b>Ingredients: </b> {{object.ingredients}} <br />
    <br />
    <b>Cooking Time: </b> {{object.cooking_time}} mins <br />
    <br />
    <b>Difficulty: </b> {{object.difficulty}} <br />
    <br />
  </div>
</div>
{% endblock content %}
