{% extends "base.html" %} 
{% load static %} 

{% block title %} Recipes List {%endblock %} 

{% block content %}
<div class="template-image">
  <!-- navigation bar -->
  <ul>
    <li class="app-title">Recipe App</li>
    <li>
      <a
        class="logout-link"
        href="{%url 'logout' %}"
        >Logout</a
      >
    </li>
    <li>
      <a
        class="active"
        href="{%url 'recipes:list' %}"
        >Recipes</a
      >
    </li>
  </ul>
  <!-- <div class="recipe-container"> -->
  <h1
    class="main-header"
    style="font-size: 40px"
  >
    Recipes
  </h1>
  <div class="recipe-grid">
    {% for object in object_list %}
    <div class="recipes-container">
      <a
        href="{{object.get_absolute_url}}"
        class="recipe-wrapper"
      >
        <div>
          <img
            src="{{object.pic.url}}"
            class="recipe-image"
            width="200"
            height="200"
          />
        </div>
        <div>
          <h2 class="recipe-name">{{object.name}}</h2>
          <p class="recipe-description">{{object.description}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
